torch
accelerate
datasets
sentencepiece
peft
nltk
sacremoses
pandas
regex
mock
mosestokenizer
bitsandbytes
scipy
indic-nlp-library
streamlit
uvicorn
fastapi
PyPDF2 
python-multipart 
uvicorn
# flash-attn